/* Global Styles*/
:root{
    --black: #0C0C0C;
    --purple: #3350E9;
    --textColor: #rgba(12, 12, 12, 0.70);
    --buttonText: #FBFBFB;
    --descColor: #rgba(251, 251, 251, 0.70);
    --backgroundSection: #F3F3F3;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

h1,
h2{
    color: var(--black);
  }

a {
    text-decoration: none;
  }
  
img {
    display: block;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0; 
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
  }
  
body{
    background-color: var(--buttonText);
    font-family: 'Gilroy', sans-serif;
    color: var(--black);
    line-height: 1.25; /* 20/16
    /* letter-spacing: ; */
  }

.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;
  }


/************ Header **************/  
.header{
padding: 26px 26px;
border-bottom: 1px solid rgba(12, 12, 12, 0.10) ;
border-color: rgba(12, 12, 12, 0.10);
}

.header-flex{
display: flex;
flex-direction: row;


}

.main-navigation{
display: flex;
align-items: center;
}

.page-logo{
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.4px;
color:  var(--black);
margin-right: 203px;
}

.navigation-links{
display: flex;
gap: 40px;
justify-content: space-between;
align-items: center;
margin-right: 203px;
}
 
  
/* .navigation-item{
} */

.navigation-link{
color: var(--black);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.29; 
}

.social-links-header{
display: flex;
gap: 10px;
} 

.social-link{
display: flex;
align-items: center;
border-radius: 10px;
border: 1px solid rgba(12, 12, 12, 0.10);
background-color: transparent;
padding: 8px;
width: 36px;
height: 36px;
fill: #0C0C0C;
}

.social-link:hover {
fill: var(--purple); 
border: 1px solid rgba(51, 80, 233, 0.10);
transition: border, fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


/* .social-item{
}

.social-icon{
} */


/************ Hero Section **************/ 
.hero-section{
    padding-top: 80px;
    padding-bottom: 100px;
}


.hero-flex{
    display: flex;
}

.hero-first{
    max-width: 597px;
}

.main-title{
    color:var(--black);
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 0,875; 
    letter-spacing: -1.44px;
}

.main-difference{
    color: var(--purple);
}

.main-paragraph{
color: rgba(12, 12, 12, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.25;
letter-spacing: -0.32px;
margin-top: 20px;
margin-bottom: 40px;
}

.hero-stuff{
    margin-left: 407px;
    height: 269px;
}


.image-gather{
    display: flex;
    margin-bottom: 189px;
}

/* .hero-item{

} */

.hero-link{
color: var(--black);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1; 
letter-spacing: -0.4px;
text-decoration-line: underline;
text-decoration-style: solid;
}

.main-image{

border-radius: 50px;
background: linear-gradient(0deg, rgba(12, 12, 12, 0.20) 0%, rgba(12, 12, 12, 0.20) 100%);

}

/* About Us (Mobile)    */
.about-us-section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-us-container{
border-radius: 30px;
background: var(--backgroundSection);
padding: 40px 20px 0 20px;
width: 335px;
margin-bottom: 20px;
}

.about-title{
color: var(--black);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 1;
letter-spacing: -0.64px;
margin-bottom: 28px;
}

.about-paragraph,
.about-second-paragraph{
color: rgba(12, 12, 12, 0.70);
/* color: var(--textColor); doesn't work*/ 
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.29; 
letter-spacing: -0.28px;
}

.about-second-paragraph{
margin-top: 20px;
}

.about-us-button{
margin-top: 40px;
margin-bottom: 40px;
border-radius: 16px;
background: var(--purple);
width: 160px;
height: 48px;
border: none;
cursor: pointer;

color: var(--buttonText);
text-align: center;
font-size: 14px;
font-style: normal;
line-height: 1.29;
}

@media (min-width: 768px) {
  .about-us-section{
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .about-us-container{
    border-radius: 50px;
    padding: 80px 60px;
    width: 704px;
    height: 512px;
    margin-bottom: 40px;
    }

    .about-title{
      font-size: 48px;
      line-height: 0.92;
      letter-spacing: -0.96px;
      margin-bottom: 40px;
      }

    .about-paragraph,
    .about-second-paragraph{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25; 
      letter-spacing: -0.32px;
      }

      .about-us-button{
      margin-top: 60px;
      }
}

@media (min-width: 1280px) {
  .about-us-section{
    padding-top: 100px;
    padding-bottom: 100px;   
  }

  .container{
    display: flex;
  }

  .about-us-container{
    margin-right: 40px;
    width: 530px;
    height: 532px;

    }

    .about-us-button{
      margin-top: 40px;
      }

}

/* Catalog section (Mobile) */
.catalog-section{
  padding-bottom: 60px;
}

.catalog-title{
  color: var(--black);
  font-size: 32px;
  font-style: normal;
  line-height: 1;
  font-weight: 600;
  letter-spacing: -0.64px;
  margin-bottom: 24px;
}

.catalog-stuff{
display: flex;
gap: 20px;
flex-direction: column;
/* 
width: 335px;
height: 364px; */
}

.catalog-item{
border-radius: 30px;
border: 1px solid rgba(12, 12, 12, 0.05);
background: var(--backgroundSection);

width: 335px;
height: 364px;
}

.catalog-item:nth-last-child(-n+2){
display: none;
}

.catalog-item picture img{
  padding-top: 42px;
  padding-left: 63px;
  padding-right: 64px;
}

.catalog-description{
  margin: 10px 28px 24px;
}

.name-watch{
color: var(--black);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: -0.32px;
margin-bottom: 8px;
}

.price-watch{
color: rgba(12, 12, 12, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.29; 
letter-spacing: -0.28px;
}

.button-catalog{
width: 160px;
height: 48px;
border-radius: 16px;
background: var(--purple);
border: none;

color:var(--buttonText);
text-align: center;
font-size: 14px;
font-style: normal;
line-height: 1.29; 
flex: 0 0 auto;

display: block;
margin: 0 auto;

cursor: pointer;

}


.button-catalog:hover,
.button-catalog:focus{
  background: #1F3CD4;
}

@media (min-width: 768px){
  .catalog-section{
    padding-bottom: 80px;
  }

  .catalog-title{
    font-size: 48px;
    line-height: 0.92;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
  }
  
  .catalog-stuff{
  display: flex;
  gap: 32px 16px;
  flex-wrap: wrap;
  flex-direction: row;

  }
  
  .catalog-item{
    width: calc((100% - 32px) / 2); /*2 items per row with the gap in between*/
    height: 414px;
  }
  
  .catalog-item:nth-last-child(-n+2){
  display: block;
  }
  
  .catalog-item picture img{
    padding-top: 34px;
    padding-left: 38px;
    padding-right: 38px;
  }
  
  .catalog-description{
    margin: 10px 32px 24px;
  }
  
  .name-watch{
  font-size: 20px;
  line-height: 1; 
  letter-spacing: -0.4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }

  .button-catalog{
  display: none;
  }
  
}

@media (min-width: 1280px) {
  .catalog-section{
    padding-bottom: 100px;
  }

  .catalog-stuff{
  display: flex;
  gap: 32px 23px;

  }
  
  .catalog-item{
    width: calc((100% - 46px) / 3); /*2 items per row with the gap in between*/
  }
  
  
  .catalog-item picture img{
    padding-top: 30px;
  }
}


/* Advertisement */
.advertisement-container{
background-image: url(../img/advertisement/advertisement-mob.png);
background-repeat: no-repeat;
width: 335px;
height: 363px;
background-color: var(--black);
border-radius: 30px;
}


.advertisement-paragraph{
color: var(--buttonText);
padding: 60px 28px;

font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 1; 
letter-spacing: -0.64px;
}

.advertisement-part{
  color: rgba(251, 251, 251, 0.50);
}

.advertisement-button{
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid rgba(251, 251, 251, 0.15);
  width: 160px;
  height: 48px; 

color: var(--buttonText);
text-align: center;
font-size: 14px;
font-style: normal;
/* font-weight: 500; */
line-height: 1.29;
margin-left: 28px;
cursor: pointer;
}

.advertisement-button:hover,
.advertisement-button:focus{
background-color:var(--buttonText);
color:  var(--black);
transition: background-color ,color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px){
  .advertisement-section{
    padding-bottom: 80px;
  }

  .advertisement-container{
    width: 704px;
    height: 425px;
    background-image: url(../img/advertisement/advertisement-tab.png);
    }
    
    
    .advertisement-paragraph{
    padding: 80px 64px 32px;
    font-size: 48px;
    line-height: 0.92; 
    letter-spacing: -0.96px;
    }
  
    .advertisement-button{
    margin-left: 64px;
    }
    
}

@media (min-width: 1280px){
  .advertisement-section{
    padding-bottom: 100px;
  }

  .advertisement-container{
    width: 1150px;
    height: 298px;
    background-image: url(../img/advertisement/advertisement-desk.png);
    display: flex;
    align-items: baseline;
  }
    
    
    .advertisement-paragraph{
    padding: 83px 80px;
    }

    .advertisement-button{
    margin-right: 64px;
    flex-shrink: 0;
    }
}

/* Sale section  */
.sale-paragraph{
color: var(--black);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 1px; 
letter-spacing: -0.64px;
}

/* .sale-watches{} */
.sale-section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.sale-paragraph{
color:var(--black);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 1;
letter-spacing: -0.64px;
margin-bottom: 24px;
}

.sale-watches{
display: flex;
flex-direction: row;
gap: 5px;
}

.sale-items{
width: 80px;
height: 80px;
border-radius: 16px;
border: 1px solid rgba(12, 12, 12, 0.05);
background:var(--backgroundSection);
padding: 13px 14px;
}

.big-watch-item{
width: 335px;
height: 385px;
border-radius: 30px;
border: 1px solid rgba(12, 12, 12, 0.05);
background: var(--backgroundSection);
margin-top: 20px;
padding: 50px;
}

.description-side{
width: 335px;
border-radius: 30px;
background: var(--purple);
margin-top: 20px;
}

.description{
  padding: 48px 28px 20px 28px;
}

.description-paragraph{
color: var(--buttonText);
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 1.17;
letter-spacing: -0.48px;
margin-bottom: 10px;
}

.description-sub-paragraph{
color: rgba(251, 251, 251, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height:1.29; 
letter-spacing: -0.28px;
}

.price-side{
  margin-left: 28px;
}

.price-side-item{
  display: flex;
  flex-direction: row;
}

.price-side-first{
width: 68px;
height: 32px;
border-radius: 8px;
background: rgba(251, 251, 251, 0.10);
padding: 8px 12px;

color: var(--buttonText);
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 1.25; 
letter-spacing: -0.32px;
}

.price-side-second{
text-decoration: line-through;
color: rgba(251, 251, 251, 0.50);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 1.17;
letter-spacing: -0.24px;
margin: 9px;
}

.about-side{
  padding: 28px;
}

.about-watch{
color: rgba(251, 251, 251, 0.70);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.29; 
letter-spacing: -0.28px;
}

/* .watch-benefits{} */

.watch-benefits-gen{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 8px;  
padding: 0 28px 28px 28px;
}

.watch-benefit-items{
border-radius: 8px;
border: 1px solid rgba(251, 251, 251, 0.20);

color: var(--buttonText);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 1.3; 
padding: 8px 12px;
}

@media (min-width: 789px){
  .sale-section{
  padding-bottom: 80px;
  padding-top: 0;
  }
  
  .sale-paragraph{
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.96px;
  margin-bottom: 40px;
  }
  
.sale-container{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

  .sale-watches{
  display: flex;
  flex-direction: column;
  gap: 10px;
  }
  
  .sale-items{
  width: 132px;
  height: 132px;
  border-radius: 20px;
  padding: 16px 18px;
  }
  
  .big-watch-item{
  width: 552px;
  height: 558px;
  border-radius: 50px;
  padding: 80px 112px;
  margin: auto;
  }

  .description-side{
  width: 704px;
  border-radius: 50px;
  margin-top: 40px;
  }
  
  .description{
    padding: 60px 208px 20px 60px;
  }
  
  .description-paragraph{
  font-size: 32px;
  line-height: 1.125;
  letter-spacing: -0.64px;
  }
  
  .price-side{
    margin-left: 60px;
  }
  
  .price-side-first{
  width: 78px;
  font-size: 20px;
  line-height: 1; 
  letter-spacing: -0.4px;
  }
  
  .about-side{
    padding: 30px 60px 40px 60px;
  }
  
  .about-watch{
  font-size: 16px;
  line-height: 1.25; 
  letter-spacing: -0.32px;
  }
  
  .watch-benefits-gen{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;  
  padding: 0 246px 60px 60px;
  }
  
  .watch-benefit-items{
  font-size: 14px;
  line-height: 1.29; 
  }
}

@media (min-width: 1280px){
  .sale-section{
    padding-bottom: 100px;
    padding-top: 0;
    }

 .big-watch-item{
  width: 428px;
  padding: 80px 50px;
  }

  .description-side{
   width: 530px;
   height: 558px;
   margin: auto 40px ;
  
}

.description-paragraph{
  width: 389px;
}

.watch-benefits-gen{ 
  padding: 0 72px 60px 60px;
  }

}
