/* Global Styles*/
:root{
    --black: #0C0C0C;
    --purple: #3350E9;
    --textColor: #rgba(12, 12, 12, 0.70);
    --buttonText: #FBFBFB;
    --descColor: #rgba(251, 251, 251, 0.70);
    --backgroundSection: #F3F3F3;

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
  }

h1,
h2{
    color: var(--black);
  }

a {
    text-decoration: none;
  }
  
img {
    display: block;
  }

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0; 
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
  }
  
body{
    background-color: var(--buttonText);
    font-family: 'Gilroy', sans-serif;
    color: var(--black);
    line-height: 1.25; /* 20/16
    /* letter-spacing: ; */
  }

.container{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 65px;
    padding-right: 65px;
  }


/************ Header **************/  
.header{
padding: 26px 26px;
border-bottom: 1px solid rgba(12, 12, 12, 0.10) ;
border-color: rgba(12, 12, 12, 0.10);
}

.header-flex{
display: flex;
flex-direction: row;


}

.main-navigation{
display: flex;
align-items: center;
}

.page-logo{
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.4px;
color:  var(--black);
margin-right: 203px;
}

.navigation-links{
display: flex;
gap: 40px;
justify-content: space-between;
align-items: center;
margin-right: 203px;
}
 
  
/* .navigation-item{
} */

.navigation-link{
color: var(--black);
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.29; 
}

.social-links-header{
display: flex;
gap: 10px;
} 

.social-link{
display: flex;
align-items: center;
border-radius: 10px;
border: 1px solid rgba(12, 12, 12, 0.10);
background-color: transparent;
padding: 8px;
width: 36px;
height: 36px;
fill: #0C0C0C;
}

.social-link:hover {
fill: var(--purple); 
border: 1px solid rgba(51, 80, 233, 0.10);
transition: border, fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}


/* .social-item{
}

.social-icon{
} */


/************ Hero Section **************/ 
.hero-section{
    padding-top: 80px;
    padding-bottom: 100px;
}


.hero-flex{
    display: flex;
}

.hero-first{
    max-width: 597px;
}

.main-title{
    color:var(--black);
    font-size: 72px;
    font-style: normal;
    font-weight: 600;
    line-height: 0,875; 
    letter-spacing: -1.44px;
}

.main-difference{
    color: var(--purple);
}

.main-paragraph{
color: rgba(12, 12, 12, 0.70);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.25;
letter-spacing: -0.32px;
margin-top: 20px;
margin-bottom: 40px;
}

.hero-stuff{
    margin-left: 407px;
    height: 269px;
}


.image-gather{
    display: flex;
    margin-bottom: 189px;
}

/* .hero-item{

} */

.hero-link{
color: var(--black);
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1; 
letter-spacing: -0.4px;
text-decoration-line: underline;
text-decoration-style: solid;
}

.main-image{

border-radius: 50px;
background: linear-gradient(0deg, rgba(12, 12, 12, 0.20) 0%, rgba(12, 12, 12, 0.20) 100%);

}

/* About Us (Mobile)    */
.about-us-section{
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-us-container{
border-radius: 30px;
background: var(--backgroundSection);
padding: 40px 20px 0 20px;
width: 335px;
margin-bottom: 20px;
}

.about-title{
color: var(--black);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 1;
letter-spacing: -0.64px;
margin-bottom: 28px;
}

.about-paragraph,
.about-second-paragraph{
color: rgba(12, 12, 12, 0.70);
/* color: var(--textColor); doesn't work*/ 
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 1.29; 
letter-spacing: -0.28px;
}

.about-second-paragraph{
margin-top: 20px;
}

.about-us-button{
margin-top: 40px;
margin-bottom: 40px;
border-radius: 16px;
background: var(--purple);
width: 160px;
height: 48px;
border: none;
cursor: pointer;

color: var(--buttonText);
text-align: center;
font-size: 14px;
font-style: normal;
line-height: 1.29;
}

@media (min-width: 768px) {
  .about-us-section{
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .about-us-container{
    border-radius: 50px;
    padding: 80px 60px;
    width: 704px;
    height: 512px;
    margin-bottom: 40px;
    }

    .about-title{
      font-size: 48px;
      line-height: 0.92;
      letter-spacing: -0.96px;
      margin-bottom: 40px;
      }

    .about-paragraph,
    .about-second-paragraph{
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 1.25; 
      letter-spacing: -0.32px;
      }

      .about-us-button{
      margin-top: 60px;
      }
}

@media (min-width: 1280px) {
  .about-us-section{
    padding-top: 100px;
    padding-bottom: 100px;   
  }

  .container{
    display: flex;
  }

  .about-us-container{
    margin-right: 40px;
    width: 530px;
    height: 532px;

    }

    .about-us-button{
      margin-top: 40px;
      }

}

/* Catalog section (Mobile) */
/* .catalog-us-container{

} */

.catalog-section{
  padding-bottom: 60px;
}

.catalog-title{
color: var(--black);
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 1; 
letter-spacing: -0.64px;
margin-bottom: 24px;
}

.catalog-stuff{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

}

.catalog-item{
border-radius: 30px;
border: 1px solid rgba(12, 12, 12, 0.05);
background: var(--backgroundSection);
width: 335px;
height: 364px;


}

.catalog-item picture{
  padding: 33px 64px 28px 63px;
  display: flex;
  justify-content: center;
 
}

.description-catalog{
  padding: 24px 28px;
}

.name-watch{
color: var(--black);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.25px; 
letter-spacing: -0.32px;
margin-bottom: 8px;
}

.price-watch{
color: rgba(12, 12, 12, 0.50);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.28px;
}

@media (min-width: 768px) {

}